@import '../../App.style.scss';

.row-name {
  width: 250px;
}

.table-container {
  background: $table;
  border-left: 0.1px solid $secondary;
}

.description-icon {
  color: $create-icon;
  cursor: pointer;
  margin-left: 15px
}

.delete-icon {
  cursor: pointer;
  color: transparent;

  &.hovered {
    color: $delete-icon;
  }
}

.table-cell-child {
  width: 100px;
  min-width: 100px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.icon-child {
  margin-left: 15px;
}
