$main: #323232;
$secondary: #a1a1aa;
$table: #252525;
$create-icon: #7890b2;
$delete-icon: #df4444;

.interactive-component {
    width: 100%;
    background-color: $main;
    border-left: 0.5px solid $secondary;
}
